force-app/main/default/flows/Aging_Aide_Check_In_Check_Out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Open_Service_Record_Exists</name>
        <label>Open Service Record Exists?</label>
        <locationX>788</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Check_In_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceVisitId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_of_Visit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_of_Visit</name>
        <label>Status of Visit?</label>
        <locationX>791</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Check_In_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceVisitStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In</targetReference>
            </connector>
            <label>Not Started</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceVisitStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Out</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Aging - Aide Check In Check Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aging - Aide Check In Check Out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service_Visit</name>
        <label>Create Service Visit</label>
        <locationX>519</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Check_In_Out_Saved</targetReference>
        </connector>
        <inputAssignments>
            <field>Arrival_Notes__c</field>
            <value>
                <elementReference>Arrival_Notes_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin_Date_Time__c</field>
            <value>
                <elementReference>Check_in_Date_Time_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin_Location__Latitude__s</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin_Location__Longitude__s</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Performed_By__c</field>
            <value>
                <elementReference>UserFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>I want to see if there are already any open service visits created for the Service on This Day.</description>
        <name>Get_Service_Visits</name>
        <label>Get Service Visits</label>
        <locationX>793</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Service_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>Service_Visit__c</object>
        <outputAssignments>
            <assignToReference>var_ServiceVisitId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ServiceVisitStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_In_Progress_Service_Visit</name>
        <label>Update In Progress Service Visit</label>
        <locationX>1264</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Check_In_Out_Saved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceVisitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Checkout_Date_Time__c</field>
            <value>
                <elementReference>Check_out_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkout_Location__Latitude__s</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkout_Location__Longitude__s</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Notes__c</field>
            <value>
                <elementReference>Departure_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Visit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Not_Started_Service_Visit</name>
        <label>Update Not Started Service Visit</label>
        <locationX>1272</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Check_In_Out_Saved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceVisitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arrival_Notes__c</field>
            <value>
                <elementReference>Arrival_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin_Date_Time__c</field>
            <value>
                <elementReference>Check_in_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin_Location__Latitude__s</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checkin_Location__Longitude__s</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Performed_By__c</field>
            <value>
                <elementReference>UserFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Visit__c</object>
    </recordUpdates>
    <screens>
        <name>Check_In</name>
        <label>Check In</label>
        <locationX>1106</locationX>
        <locationY>677</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Not_Started_Service_Visit</targetReference>
        </connector>
        <fields>
            <name>Check_in_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Check-in Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Arrival_Notes</name>
            <fieldText>Arrival Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GetCheckInLocation2</name>
            <extensionName>c:getGeolocationFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Latitude</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Longitude</assignToReference>
                <name>longitude</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_In_0</name>
        <label>Check In</label>
        <locationX>519</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Service_Visit</targetReference>
        </connector>
        <fields>
            <name>Check_in_Date_Time_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Check-in Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Arrival_Notes_0</name>
            <fieldText>Arrival Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GetCheckInLocation</name>
            <extensionName>c:getGeolocationFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Latitude</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Longitude</assignToReference>
                <name>longitude</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_In_Out_Saved</name>
        <label>Check In/Out Saved</label>
        <locationX>1495</locationX>
        <locationY>794</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your Check In/Out was successfully saved.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://sdodemo-main-166ce2cf6b6-172-178fe4463eb.force.com/gapart&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Return to Home&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_Out</name>
        <label>Check Out</label>
        <locationX>1102</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_In_Progress_Service_Visit</targetReference>
        </connector>
        <fields>
            <name>Check_out_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Check-out Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Departure_Notes</name>
            <fieldText>Departure Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GetCheckOutLocation</name>
            <extensionName>c:getGeolocationFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Latitude</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Longitude</assignToReference>
                <name>longitude</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>667</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Service_Visits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>7</scale>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>7</scale>
    </variables>
    <variables>
        <description>This will be the id of the Service record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_ServiceVisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_ServiceVisitStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
